*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{background-color: rgb(212, 205, 205);
color:rgb(56, 54, 54);
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
height:100vh;}

h1{
    color: rgb(90, 20, 90);
    font-size: 9rem;
    text-align: center;
    opacity: 0.4;
    margin-bottom: 3rem;
}

main #list{
    border:none;
    color: rgb(29, 28, 28);
    font-size: 1rem;
    padding: 1rem;
    display: inline;
    width:25rem;
    border-radius: 2rem;
    background-color: rgb(228, 224, 220);
}

main #add, #clear{width:4rem;
height: 3rem;
border-radius:5rem;
border: none;
font-size: 1rem;
font-weight: bold;
opacity: 0.6;
color: rgb(90, 20, 90);
}

main ul{margin-top: 1rem;}
main ul li{
    list-style: none;
    font-size: 0.9rem;
    border-top:1px solid rgb(29, 28, 28);
    padding: 0.8rem;
}

